<td>
  <%= link_to user.name, user %>
</td>
<td>
  <%= user.email %>
</td>
<td>
  <%= form_for user, :html => { class: 'form-inline' } do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, {}, { class: 'form-control' }) %>
    <%= f.submit 'Change Role', :class => 'btn btn-default btn-sm' %>
  <% end %>
</td>
<td class="text-right">
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-default btn-sm') unless user == current_user %>
</td>
