<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being placed:</h2>

    <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Checkout</h1>

<h3>Summary</h3>

<p>Please check the items in your order. If you would like to change the order, use the Back button below and adjust the items in your cart.</p>

<table class="table table-striped margin-top-medium margin-bottom-large">
  <thead>
    <tr>
      <th>Product</th>
      <th>Amount</th>
      <th>Price per Piece</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.cart_items.each do |cart_item| %>
      <tr>
        <td><strong><%= cart_item.product.name %></strong><br /><%= cart_item.product.description %></td>
        <td><%= cart_item.amount %></td>
        <td><%= cart_item.product.price %></td>
        <td><%= cart_item.amount * cart_item.product.price %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total</td>
      <td><%= @total_amount %></td>
    </tr>
  </tfoot>
</table>

<h3>Payment Details</h3>

<%= form_for @order, :html => {class: 'form-horizontal'} do |f| %>
  <div class="form-group">
    <%= f.label(:credit_card_type, class: "col-sm-2 col-sm-offset-2 control-label") %>
    <div class="col-sm-6"><%= f.text_field(:credit_card_type, class: "form-control") %></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <%= f.label(:credit_card_name, class: "col-sm-2 col-sm-offset-2 control-label") %>
    <div class="col-sm-6"><%= f.text_field(:credit_card_name, class: "form-control") %></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <%= f.label(:credit_card_number, class: "col-sm-2 col-sm-offset-2 control-label") %>
    <div class="col-sm-6"><%= f.text_field(:credit_card_number, class: "form-control") %></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <%= f.label(:credit_card_expiry, class: "col-sm-2 col-sm-offset-2 control-label") %>
    <div class="col-sm-3">
      <%= select_tag :credit_card_expiry_month,
                     options_for_select([['January', 1], ['February', 2], ['March', 3], ['April', 4], ['May', 5],
                                         ['June', 6], ['July', 7], ['August', 8], ['September', 9], ['October', 10],
                                         ['November', 11], ['December', 12]]
                     ),
                     class: "form-control",
                     name: 'order[credit_card_expiry_month]'
      %>
    </div>
    <div class="col-sm-3">
      <%= select_tag :credit_card_expiry_year,
                     options_for_select([2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028]),
                     class: "form-control",
                     name: 'order[credit_card_expiry_year]'
      %>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <%= f.label(:credit_card_cvc, class: "col-sm-2 col-sm-offset-2 control-label") %>
    <div class="col-sm-6"><%= f.text_field(:credit_card_cvc, class: "form-control") %></div>
    <div class="col-sm-2"></div>
  </div>
  <%= hidden_field(:order, :user_id, :value => current_user.id) %>

  <%= link_to 'Back', '/cart', class: 'btn btn-default' %>
  <%= f.submit('Place Order', class: "btn btn-primary pull-right") %>
<% end %>