<h1>Your Cart</h1>

<% if @cart.cart_items.length > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Amount</th>
        <th>Price per Piece</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |cart_item| %>
        <tr>
          <td><strong><%= cart_item.product.name %></strong><br /><%= cart_item.product.description %></td>
          <td><%= cart_item.amount %></td>
          <td><%= cart_item.product.price %></td>
          <td><%= cart_item.amount * cart_item.product.price %></td>
          <td>Remove</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You have no items in your cart.</p>
<% end %>

<% if @cart.cart_items.length > 0 %>
  <%= link_to 'Proceed to checkout', { controller: 'orders', action: 'checkout' }, class: 'btn btn-default' %>
<% end %>