<h1>Create a New Deal</h1>

<p>Note:
<ul>
  <li>You can only create one deal of each type for every product.</li>
  <li>All deals for a product will be combined. This means that a customer can profit from both percentage-based and volume-based deals at the same time.</li>
</ul></p>

<%= form_for @deal, :remote => true, :html => {class: 'form-horizontal'} do |f| %>
  <div class="form-group">
    <%= f.label(:deal_type, class: "col-sm-2 col-sm-offset-2 control-label") %>
    <div class="col-sm-6"><%= f.select :deal_type, options_for_select([["Volume-based discount", "volume"], ["Percentage-based discount", "percentage"]]), { include_blank: 'Please select', class: "form-control" }, required: true %></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group">
    <%= f.label(:product_id, class: "col-sm-2 col-sm-offset-2 control-label") %>
    <div class="col-sm-6"><%= f.select :product_id, Product.all.collect{ |p| [ p.name, p.id ] }, { include_blank: 'Please select', class: "form-control"}, required: true %></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group volume-based-deal hidden">
    <%= f.label(:trigger_amount, class: "col-sm-2 col-sm-offset-2 control-label") %>
    <div class="col-sm-6"><%= f.number_field(:trigger_amount, in: 0..100000, step: 1, class: "form-control", default: 0) %></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group volume-based-deal hidden">
    <%= f.label(:deal_amount, class: "col-sm-2 col-sm-offset-2 control-label") %>
    <div class="col-sm-6"><%= f.number_field(:deal_amount, in: 0..100000, step: 1, class: "form-control", default: 0) %></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="form-group percentage-based-deal hidden">
    <%= f.label(:discount_percentage, class: "col-sm-2 col-sm-offset-2 control-label") %>
    <div class="col-sm-5"><%= f.range_field(:discount_percentage, in: 1..100, value: 50, class: "form-control", oninput: "deal_percentage_display.value = deal_discount_percentage.value + ' %'") %></div>
    <div class="col-sm-1">
      <output name="deal_percentage_display" id="deal_percentage_display">50 %</output>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <%= f.submit(class: "btn btn-primary pull-right") %>
    </div>
    <div class="col-sm-2"></div>
  </div>
<% end %>