<h1 id="page-title">All Products<%= @products.count < Product.all.count ? " <small>#{@products.count} results</small>".html_safe : '' %></h1>

<div class="row">
  <div class="col-sm-12 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Search & Filter</h4></div>
      <div class="panel-body">
        <div>
          <h4>Search</h4>
          <div class="form-group">
            <label for="search">Keyword</label>
            <input type="text" class="form-control" id="search" onchange="searchInput(this)">
          </div>
        </div>

        <div class="margin-top-small">
          <h4>Filter by brand</h4>
          <% counter = 0 %>
          <% @all_brands.each do |brand| %>
            <div class="checkbox">
              <label>
                <input id="b<%= counter %>" type="checkbox" onclick="checkboxClick(this, 'brand')"> <%= brand %>
              </label>
            </div>
            <% counter += 1 %>
          <% end %>
        </div>

        <div class="margin-top-small">
          <h4>Filter by material</h4>
          <% counter = 0 %>
          <% @all_materials.each do |material| %>
            <div class="checkbox">
              <label>
                <input id="m<%= counter %>" type="checkbox" onclick="checkboxClick(this, 'material')"> <%= material %>
              </label>
            </div>
            <% counter += 1 %>
          <% end %>
        </div>

        <div class="margin-top-small">
          <h4>Filter by price</h4>
          <div class="form-group">
            <label for="lprice">Minimum Price</label>
            <input type="number" class="form-control" id="lprice" onchange="priceInput(this, 'lprice')">
          </div>
          <div class="form-group">
            <label for="hprice">Maximum Price</label>
            <input type="number" class="form-control" id="hprice" onchange="priceInput(this, 'hprice')">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-9">
    <% if @products.length > 0 %>
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="panel panel-default">
              <div class="panel-heading product-panel-heading"><img src="/assets/placeholder_<%= rand(1..4) %>.svg" alt="" class="product-img"></div>
              <div class="panel-body">
                <div class="caption">
                  <h4 class="pull-right"><%= number_to_currency(product.price) %></h4>
                  <h4><%= link_to product.name, product %></h4>
                  <p><%= product.description %></p>
                </div>
              </div>
              <div class="panel-footer text-right">
                <% if user_signed_in? %>
                  <% if !Cart.product_in_cart?(current_user.id, product.id) and Product.find(product.id).stock_level > 0 %>
                    <%= link_to 'Add to Cart', { controller: 'cart_items', action: 'add_to_cart', product_id: product.id, amount: 1 }, class: 'btn btn-primary', method: :post, remote: true %>
                  <% elsif Product.find(product.id).stock_level > 0 %>
                    <%= link_to 'Item already in cart', {}, class: 'btn btn-default', disabled: 'disabled' %>
                  <% else %>
                    <%= link_to 'Item out of stock', {}, class: 'btn btn-default', disabled: 'disabled' %>
                  <% end %>
                <% else %>
                  <%= link_to 'Please sign in to buy this item', '/users/sign_in', class: 'btn btn-default' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <% if @products.count < Product.all.count #check if we're displaying an empty list or an empty search result %>
        <h2 class="text-muted text-center margin-top-large">There are no results for your search.</h2>
        <p class="text-muted text-center">Consider changing the search parameters to include more products.</p>
      <% else %>
        <h2 class="text-muted text-center margin-top-large">There are no products in the shop.</h2>
        <p class="text-muted text-center">If you're a seller, create some products now.</p>
      <% end %>
    <% end %>
  </div>
</div>
